<% layout("/layouts/boilerplate") %>

<div class="row mt-3 mb-3">
    <div class="col-8 offset-2">
        <h3>Create new listing</h3>
        <br><br>

        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

            <!-- Title -->
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" maxlength="20" required>
                <div class="valid-feedback">Title accepted</div>
                <div class="invalid-feedback">Enter valid title</div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="Enter description" class="form-control" required maxlength="70"></textarea>
                <div class="charCount">0 / 70</div>
                <div class="valid-feedback">Description accepted</div>
                <div class="invalid-feedback">Enter valid description</div>  
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label class="form-label">Upload listing image</label>
                <input type="file" name="listing[image]" class="form-control">  
            </div>

            <div class="row">

                <!-- Price -->
                <div class="mb-3 col-md-4">
                    <label class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
                    <div class="valid-feedback">Price accepted</div>
                    <div class="invalid-feedback">Enter valid price</div>
                </div>

                <!-- Category -->
                <div class="mb-3 col-md-8">
                    <label class="form-label">Category</label>
                    <select name="listing[category]" class="form-select" required>
                        <option value="">-- Select Category --</option>
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Mountain">Mountain</option>
                        <option value="Castles">Castles</option>
                        <option value="Pool">Pool</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Boat">Boat</option>
                        <option value="Other">Other</option>
                    </select> 
                    <div class="valid-feedback">Category accepted</div>
                    <div class="invalid-feedback">Enter valid category</div>
                </div>

                <!-- City -->
                <div class="mb-3 col-md-4">
                    <label class="form-label">City</label>
                    <input type="text" name="listing[location]" placeholder="Enter city name" class="form-control" required maxlength="15">
                    <div class="valid-feedback">Location accepted</div>
                    <div class="invalid-feedback">Enter valid location</div>
                </div>

                <!-- Country -->
                <div class="mb-3 col-md-8">
                    <label class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required maxlength="15">
                    <div class="valid-feedback">Country accepted</div>
                    <div class="invalid-feedback">Enter valid country</div>
                </div>

            </div>

            <button class="btn btn-dark add-btn mt-3">Add</button>
        </form>
    </div>
</div>

<script src="/js/charCount.js"></script>